<!-- <div class="mw9 center bg-white ph7-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
        <div class="bg-grey-1 pv4">
        </div>
      </div>
      <div class="fl w-100 w-50-ns pa2">
        <div class="bg-grey-1 pv4">
        </div>
      </div>
    </div>
</div> -->

<div class="flex items-center bg-white justify-center pa4">
    <a href="/projects" target="_blank" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
        View Projects
    </a>

    <a href="/resources" target="_blank" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
        View Resources
    </a>
</div>
