<div class="mw9 center bg-white ph6-ns">
  <h1 class="f3 lh-title tc pt5-ns">Our Plan</h1>
  <hr width="5%" style="color: blue-1">
  </br>
  <div class="cf ph2-ns">
    <div class="fl w-100 w-50-ns pa2">
      <div class="bg-grey-1 pv4">
        <h1 class="f6 lh-copy pa3">Developing and maintaining a common digital space where a short description, photos and contact information of humanitarian engineering projects can be shared across Jesuit’s engineering schools.</h1>
      </div>
    </div>
    <div class="fl w-100 w-50-ns pa2">
      <div class="bg-grey-1 pv4">
        <h1 class="f6 lh-copy pa3">Creating “Remote Common Spaces” on key topics (such as water and sustainable energy, for example) where faculty and students across Jesuit’s engineering schools can share and discuss projects, experiences and academic tools.</h1>
      </div>
    </div>
  </div>
  <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
          <div class="bg-grey-1 pv4">
            <h1 class="f6 lh-copy pa3">Facilitating strategic partnerships to support and/or fund humanitarian projects worldwide.</h1>
          </div>
        </div>
    <div class="fl w-100 w-50-ns pa2">
      <div class="bg-grey-1 pv4">
        <h1 class="f6 lh-copy pa3">Broadcasting information on conferences, white paper, documentaries, etc.  that can be used for the design and development of humanitarian technologies.</h1>
      </div>
    </div>
    <div class="fl w-100 w-50-ns pa2">
      <div class="bg-grey-1 pv4">
        <h1 class="f6 lh-copy pa3">Promoting the Frugal Innovation framework and the Design Thinking Process as strategic tools to design and implement humanitarian projects.          </h1>
      </div>
    </div>
    <div class="fl w-100 w-50-ns pa2">
      <div class="bg-grey-1 pv4">
        <h1 class="f6 lh-copy pa3">Exchange information on courses that relate to frugal innovation and humanitarian technologies, and create a platform where materials can be shared.          </h1>
      </div>
    </div>
    <div class="fl w-100 w-50-ns pa2">
        <div class="bg-grey-1 pv4">
          <h1 class="f6 lh-copy pa3">Explore possibilities for collaborative teaching, including hybrid/online certificates.</h1>
        </div>
    </div>
  </div>
</div>
